.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);

  &.display-block {
    display: block;
  }

  &.display-none {
    display: none;
  }
}

.modal-main {
  text-transform: uppercase;
  margin-top: 200px;
  padding: 20px;
  z-index: 99;
  position:fixed;
  background: #232323;
  width: 20%;
  height: auto;
  top:20%;
  left:50%;
  transform: translate(-50%,-50%);
  display: flex;
  flex-direction: column;
  label {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    color: #f65261;
    input, select {
      background-color: #424242;
      border: none;
      max-width: 400px;
      padding: 10px;
      color: white;
    }
  }
  .closeModal {
    text-align: end;
  }
  .actions {
    margin-top: 40px;
    text-align: end;
    a {
      margin: 6px;
    }
    .reset {
      color: #f65261;
      border: #f65261 1px solid;
      border-radius: 3px;
      padding: 5px 30px;
    }
    .save {
      background-color: #f65261;
      border-radius: 3px;
      border: #f65261 1px solid;
      padding: 5px 30px;
    }
  }
}