.movieBarWrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  padding-top: 10px;
  border-bottom: 2px solid #555555;

  .categoriesWrapper {
    padding-bottom: 8px;
    a {
      padding-bottom: 8px;
      text-transform: uppercase;
      text-decoration: none;
      color: #ffffff;
      padding-right: 20px;

      &.active {
        border-bottom: 2px solid #f65261;
      }
    }
  }
  .filterWrapper {
    span {
      color: #555555;
      text-transform: uppercase;
      padding-right: 20px;
    }
    input {
      text-transform: uppercase;
    }
  }
}